// All Text Inputs
input[type="email"], input[type="number"],   input[type="password"], input[type="search"],
input[type="tel"],   input[type="text"],     input[type="url"],      input[type="color"],
input[type="date"],  input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"],     input[type="week"] {
    width: 96%;
    padding: 0px 2%;
    border: 0;
    height: 34px;
    box-shadow: inset 0 0 2px #000;  
}

// All Text Inputs Hover
input[type="email"]:hover, input[type="number"]:hover,   input[type="password"]:hover, input[type="search"]:hover,
input[type="tel"]:hover,   input[type="text"]:hover,     input[type="url"]:hover,      input[type="color"]:hover,
input[type="date"]:hover,  input[type="datetime"]:hover, input[type="datetime-local"]:hover,
input[type="month"]:hover, input[type="time"]:hover,     input[type="week"]:hover {
    
}

// All Text Inputs Focus
input[type="email"]:focus, input[type="number"]:focus,   input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus,   input[type="text"]:focus,     input[type="url"]:focus,      input[type="color"]:focus,
input[type="date"]:focus,  input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="month"]:focus, input[type="time"]:focus,     input[type="week"]:focus {
}

// All Button Inputs
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button;
}

// All Button Inputs Hover
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {

}

// All Button Inputs Focus
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {

}

// All Button Inputs Active
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {

}

input[type="text"],
input[type="email"],
input[type="password"] {

}

label {
    display: block;
    width: 100%;
    margin: 0.6em 0;
}

select {
    
}

select:focus {

}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
}

textarea:focus {

}

input.error,
textarea.error {
   box-shadow: inset 0px 0px 4px #ff0000;
}